.rf--main-div-Dark{
    height: 100vh;
    width: 100vw;
    background-color: #282D35;
}

.rf--main-div-Light{
    height: 100vh;
    width: 100vw;
    background-color: #FFFFFF;
}

.rf--nav-Light{
    display: flex;
    align-items: center;
    padding: 30px 25px;
    position: relative;
    background-color:#FFFFFF;
    box-shadow: 0px 1px 4px rgba(0, 0, 0, 0.25);
}

.rf--nav-Dark{
    display: flex;
    align-items: center;
    padding: 30px 25px;
    position: relative;
    background-color:#21222A;
}

.rf--Nav--icon{
    width: 30px;
    margin-right: 7px;
}

.rf--Nav--logo-text{
    font-family: Inter, Arial;
    font-weight: 700;
    color: #61DAFB;
    font-size: 22.25px;
    margin-right: auto;
}

.rf--container{
    position: relative;
}

.rf--main-Dark{
    background-image: url(./images/dark-react-icon-large.png);
    background-repeat: no-repeat;
    background-position-x: right;
    background-position-y: 130px;
    background-size: 150px;
    background-color: #282D35;
    color: #FFFFFF;
}

.rf--main-Light{
    background-image: url(./images/light-react-icon-large.png);
    background-repeat: no-repeat;
    background-position-x: right;
    background-position-y: 130px;
    background-size: 150px;
    background-color: #FFFFFF;
    color: #2B283A;
}

.rf--Main--title{
    font-family: Inter, Arial;
    font-weight: 700;
    font-size: 39px;

    padding-top: 57px;
    padding-left: 27px;
    padding-bottom: 26px;
}

.rf--ul{
    padding-left: 75px;
    padding-bottom: 100px;
}

.rf--ul > li::marker{
    font-size: 1.4rem;
    color:#61DAFB;
}

.rf--li{
    max-width: 400px;
    font-family: Inter, Arial;
    font-weight: 400;
    font-size: 16px;
    padding-top: 20px;
}

.darkmode{
    display: flex;
    flex-direction: row;
    gap: 7px;
    font-family:Poppins, Arial;
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    align-items: center;
}

.darkmode:hover{
    cursor: pointer;
}

#rf--nav-Lighttext-Light{
    color:#2B283A;
}

#rf--nav-Lighttext-Dark{
    color:#918E9B;
}

#rf--nav-Darktext-Light{
    color:#D5D4D8;
}

#rf--nav-Darktext-Dark{
    color:#FFFFFF;
}

.rf--nav-darkmode-square-Light{
    background-color:#2B283A;
    width: 30px;
    height: 18px;
    border-radius: 12px;
    position: relative;
}

.rf--nav-darkmode-square-Dark{
    background-color:#F5F5F5;
    width: 30px;
    height: 18px;
    border-radius: 12px;
    position: relative;
}

.rf--nav-darkmode-circle-Light{
    background-color:#FFFFFF;
    position: absolute;
    width: 16px;
    height: 16px;
    left: 2px;
    top: 1px;
    border-radius: 8px;
}

.rf--nav-darkmode-circle-Dark{
    background-color:#222222;
    position: absolute;
    width: 16px;
    height: 16px;
    left: 12px;
    top: 1px;
    border-radius: 8px;
}